<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    width=device-width 表示宽度是设备屏幕的宽度。-->
    <!--    initial-scale=1 表示初始的缩放比例。-->
    <!--    shrink-to-fit=no 自动适应手机屏幕的宽度。-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ftp File List</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{../static/bootstrap-4.0.0-dist/css/bootstrap.min.css} ">
    <!-- BootStrap Table CSS -->
    <link rel="stylesheet" th:href="@{../static/bootstrap-table-1.14.2-dist/bootstrap-table.min.css} ">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{../static/jquery/3.2.1/jquery.min.js}"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script th:src="@{../static/popper.js/1.12.5/umd/popper.min.js}"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script th:src="@{../static/bootstrap-4.0.0-dist/js/bootstrap.min.js}" src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <!-- BootStrap Table JS -->
    <script th:src="@{../static/bootstrap-table-1.14.2-dist/bootstrap-table.min.js}" src="../static/bootstrap-table-1.14.2-dist/bootstrap-table.min.js"></script>
    <script th:src="@{../static/bootstrap-table-1.14.2-dist/locale/bootstrap-table-zh-CN.min.js}" src="../static/bootstrap-table-1.14.2-dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script th:src="@{../static/js/ftp.js}" src="../static/js/ftp.js"></script>
</head>
<body>

<div class="jumbotron text-center">

   <div align="left">
       <P><a href="/">返回</a></P>
        <p th:text="'当前监控文件夹:'+${shareFileFolder}" />
   </div>

    <div align="left">
        <form action="/api/upload.do" enctype="multipart/form-data" method="post">
            <input th:type="file" name="ftpFileName" >
            <input type="submit" value="提交">
        </form>
    </div>

   <div align="center">
       <table id="ftpFileList">
       </table>
   </div>


</div>

</body>
</html>